$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #0e6cff;



.box{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 3px 2px 15px 1px rgb(168, 162, 162);
    padding: 50px;
}
.centers{
    border-left: 5px solid $primary-color;
    background-color: rgb(238, 238, 237);
    border-bottom: 1px solid $primary-color ;
    font-family: $font-stack;
    padding-left: 60px;
    padding-top: 10px;
    margin-bottom: 15px;
    box-shadow: 0 6px 6px -6px black;
}
.centers:hover{
    transform: scale(1.02);
    opacity: 0.9;
}

@media(max-width: 700px) {
    .centers{
        margin-bottom: 5px;
    }
    .extras{
        display: inline-block;
    }
}