<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid px-5 py-2">
      <a class="navbar-brand">Vaccine Slot Booking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-left: 650px;"> 
        <div class="navbar-nav">
          <a class="nav-link active" routerLink="/booking/pincode">By Pincode&nbsp;<i class="fa fa-search"></i></a>
          <a class="nav-link active" routerLink="/booking/district">By District&nbsp;<i class="fa fa-search"></i></a>
          <a class="nav-link active" routerLink="/booking/mylocation">By Current Location&nbsp;<i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>
</nav>
<router-outlet></router-outlet>
